* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 700px;
}

.audioKey {
    font-size: 30px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    background: #eaeaea;
}

.audioKey:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: .4s;
}

.channels {

}

.channelButtons {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.channelButtons > div {
    margin: 0px 10px;
}

.line {
    width: 40vw;
    border-top: 2px solid #dadada;
}
.notes {
    font-size: 20px;
    margin-top: -15px;
}
.notes span {
    margin: 0px 5px;
    padding: 0px 5px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.channelButtons button {
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.channelButtons button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: .4s;
}
.active {
    background-color: red !important;
    color: white;
    border: 1px solid white;
}